.thumbs {
    position: relative;
    text-align: center;
    max-width: 100%;

    &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        height: 450px;
        width: 450px;
        transform: translate(-50%, -50%);
        background: #ff3e66;
        border-radius: 50%;
        z-index: -1;
    }
}