/* Tailwindcss Framwork */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&family=Poppins:wght@400;500;600;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
}